$c_bg: rgba(0, 0, 32, 0.925);
$c_menu-border: rgba(255, 255, 255, 0.3);
$c_fab: #c30000;
$c_option: #ff7539;
$c_menu_primary:#3c3ff1;
$c_menu_secondary: #404050;
$c_menu_en: #50608C;
$font: 'Inter',
sans-serif;