@import '../utilities/variables';

@mixin displayInfoItem() {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    width: 100%;
}

@mixin displayIcon($url, $size) {
    background-image: url($url);
    background-position: center;
    background-size: $size;
    background-repeat: no-repeat;
}

