@import '../utilities/variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    overflow: hidden;
    font-family: $fontInter;
    color: white;
}

.catch-it {
    height: 93vh;
}

#menuBox.menuVisible {
    z-index: inherit;
}

select {
    background-color: $c_primary;
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px 25px;
    outline: none;
    color: white;
    transition: all 0.25s ease;
    font-family: $fontInter;
    font-weight: bold;

    &:hover {
        cursor: pointer;
    }
}

input[type=number] {
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px 15px;
    outline: none;
    color: white;
    transition: all 0.25s ease;
    background-color: $c_primary;
    font-family: $fontInter;
    font-weight: bold;
}

::placeholder {
    color: white;
    font-family: $fontInter;
}

.slider {
    -webkit-appearance: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 20%;
    border: 1px solid white;
    background-color: $c_primary;
    border-radius: 5px;


    &::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        height: 16px;
        background-color: $c_primary;
        margin-top: -1px;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 16px;
        height: 16px;
        background: white;
        border-radius: 50%;
    }
}

.language-selection {
    display: flex;
    flex-direction: column;
}

.menu-wrapper {
    position: fixed;
    z-index: 4000;
    top: 7vh;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .5);
    align-items: center;
}

.game-over{
    margin: auto;
    width: 35%;
    height: 25%;
    background-color: #ffe6e6;
    color: black;
    text-align: center;
    border: 2px solid $c_primary;
    border-radius: 16px;
    background-image: url("../assets/catch-image-blur.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-content: center;

    &-opts {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
}


.main-menu {
    margin: auto;
    top: 50%;
    transform: translateY(50%);
    width: 35%;
    height: 40%;
    background-color: #ffe6e6;
    color: black;
    text-align: center;
    border: 2px solid $c_primary;
    border-radius: 16px;
    background-image: url("../assets/catch-image-blur.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-content: center;


    &-opts {
        flex: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}

.opt {
    margin: auto;
    padding: 15px 50px;
    background-color: $c_primary;
    border: 1px solid $c_primary;
    border-radius: 4px;
    text-align: center;
    color: white;
    transition: all 0.25s ease;

    &:hover {
        cursor: pointer;
        color: black;
        background-color: white;
    }
}


.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    visibility: hidden;
    background-color: $c_primary;
    width: 90vh;
    height: 60%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    overflow: auto;
    overflow-x: hidden;
    z-index: 3000;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &-nav {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $c_menu-border;

        &__opt {
            flex: 0 0 25%;
            text-align: center;
            cursor: pointer;
            padding-top: 15px;
            padding-bottom: 15px;
            font-weight: 500;
            transition: all 0.3s ease;

            &:hover {
                cursor: pointer;
                background-color: $c_accent_light;
            }

        }

        &__icon {
            margin: auto;
            width: 30px;
            height: 30px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;


            &--params {
                background-image: url("../assets/parameters.png");
            }

            &--controls {
                background-image: url("../assets/controls.png");
            }

            &--tut {
                background-image: url("../assets/tutorial.png");
            }

            &--lang {
                background-image: url("../assets/language.png");
            }

        }
    }


    &__tab {
        display: none;

        &.show {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        &.hidden {
            display: none;
        }
    }

    &-body {
        padding: 16px;
        flex: 1;

        &-parameters {
            height: 100%;
        }
    }

    &-back {
        text-align: center;
        font-weight: 600;
        color: white;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;     

        &-text {
            border-radius: 8px;
            transition: all 0.4s ease;
            padding-top: 15px;
            padding-bottom: 15px;
            background-color: white;
            color: black;

            &:hover {
                cursor: pointer;
                background-color: $c_accent_light;
            }
        }

        
    }

}




.container {
    display: grid;
    grid-template-areas:
        "game parameters"
        "info parameters";
    grid-template-rows: 8.5fr 1.5fr;
    grid-template-columns: 9fr 1fr;
    height: 93vh;
    width: 100%;
}

.game-container {
    grid-area: game;
    display: flex;
    justify-content: space-evenly;
    background-image: url("../assets/back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    cursor: none;
    border: 2px solid #ffe6e6;
    border-radius: 3px;
    transition: all 0.15s ease;

    &__object {
        position: absolute;
        width: 70px;
        height: 70px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    &__basket {
        width: 12vh;
        height: 11vh;
        background-image: url("../assets/objects/basket.png");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        display: none;
    }
}


.game-info {
    display: flex;
    grid-area: info;
    background-color: $c_secondary;
    font-weight: 600;
    font-size: 20px;
    z-index: 1000;
    text-align: center;
    color: black;

    &__timer {
        flex: 1;

        #timeElapsed {
            @include displayInfoItem();
        }
    }

    &__points {
        flex: 1;

        #points {
            @include displayInfoItem();
        }
    }

    &__lives {
        flex: 1;

        #lives {
            @include displayInfoItem();
        }
    }

    &__event {
        color: white;
        flex: 1;
        background-color: $c_primary;
        border-radius: 10px;
        margin: 5px;
        padding: 2px;

        &-desc{
            flex:4;
        }

        &__icon {
            width: 45px;
            height: 45px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            align-self: center;
        }
    }
}

.displayInfoCurrentEvent{
    display: flex;
    display: row;
    justify-content: center;
}

.game-parameters {
    grid-area: parameters;
    background-color: $c_secondary;
    z-index: 3000;

    .fab-container {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 999;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }

    .fab-icon-holder {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: $c_primary;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);

        &:hover {
            opacity: 0.8;
        }

        i {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            font-size: 25px;
            color: #ffffff;
        }
    }

    .fab {
        width: 60px;
        height: 60px;
        background-color: $c_primary;
        background-image: url("../assets/menu-light.png");
        background-position: center;
        background-size: 70%;
        background-repeat: no-repeat;


        &-options {
            list-style-type: none;
            margin: 0;
            position: absolute;
            bottom: 70px;
            right: 0;
            transition: all 0.35s ease;
            transform: scale(0);
            transform-origin: 85% bottom;

            li {
                display: flex;
                justify-content: flex-end;
                padding: 5px;
            }

            #github {
                @include displayIcon("../assets/github.png", 80%);
            }

            #code {
                @include displayIcon("../assets/code.png", 60%);
            }

            #settings {
                @include displayIcon("../assets/settings.png", 75%);
            }
        }

        &-label {
            padding: 3px 5px;
            align-self: center;
            white-space: nowrap;
            border-radius: 3px;
            font-size: 14px;
            font-weight: 700;
            background: #666666;
            color: #ffffff;
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
            margin-right: 10px;
        }
    }

    .fab:hover+.fab-options,
    .fab-options:hover {
        opacity: 1;
        transform: scale(1);
    }
}

a {
    text-decoration: none;
}