.player {
    position: absolute;
    width: 60px;
    height: 60px;
    background: url(../src/player.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 0px;
  }

  .obstacle {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url(../src/thief.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 0px;
  }


  body{
  height: 100%;
  background-color: aqua;
  }

  #score{
    position: absolute;
    top: 50%;
    right: 10%;
    font-family: "Righteous", sans-serif;
  }

  #score2{
    position: absolute;
    top: 50%;
    right: 12%;
    font-family: "Righteous", sans-serif;
  }

  #logo{
    position: relative;
    vertical-align: middle;
    left: 45%;
    top: 65px;
    width: 128px;
    height: 128px;
    background: url(../src/logo.png);
    background-position: center;
    z-index: 10;

  }

  #alert{
    font-family: "Righteous", sans-serif;
  }
  

    
  @keyframes slideright {
    from {
        background-position: 40000%;
    }
    to {
        background-position: 0%;
    }
  }
  
  @-webkit-keyframes slideright {
    from {
        background-position: 40000%;
    }
    to {
        background-position: 0%;
    }
  }
  
  #grid{
    width: 100%;
    height: 100%;
    position: relative;
    top: 250px;
  }

  #back {
    border: 2px solid black;
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: url(../src/background2.png);
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    -webkit-animation: slideright 600s infinite linear;
    width: 80%;
    height: 200px;
  }

/*#menu {
  position: absolute;
  height: 100px;
  width: 50px;
  background-color: aqua;
  bottom: 50%;
  left: 0;
  right: 0;
}

.menu {
  position: absolute;
  height: 100px;
  width: 50px;
  background-color: aqua;
  bottom: 50%;
  left: 0;
  right: 0;
}*/

.menu
{
  border-radius: 25px;
  width: 70%;
  height: 70%;
  position: relative;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid black;
  z-index: 2;
}

.menuback{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: aqua;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.8;
}

.gameovertxt{
  position: absolute;
  font-family: "Righteous", sans-serif;
  top: 5%;
  left: 40%;
  z-index: 3;
}

.scoretxt{
  position: absolute;
  font-family: "Righteous", sans-serif;
  text-align: center;
  top: 30%;
  left: 35%;
  z-index: 3;
}

.reloadiv{
  position: absolute;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  top: 60%;
  left: 47%;
  background-color: Transparent;
  background-repeat:no-repeat;
  background-image: url(../src/reload.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
}

#lang{
  position: absolute;
  left: 12%;
  top: 120px;
  background-position: center;
  z-index: 10;
}

#esp{
  width: 100px;
  height: 60px;
  position: relative;
  background-image: url(../src/esp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
  border-radius: 10px;
}

#eng{
  width: 100px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-image: url(../src/eng.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(0%);
  border-radius: 10px;
}

#cat{
  width: 100px;
  height: 60px;
  position: relative;
  background-image: url(../src/cat.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(0%);
  border-radius: 10px;
}

#gridtxt{
  position: absolute;
  width: 100%;
  height: 200px;
  top: 60%;
}

#howtoplay{
  font-family: "Inter", sans-serif;
  position: relative;
  left: 10%;
}

#explain{
  font-family: "Inter", sans-serif;
  position: relative;
  left: 10%;
}