$c_bg: rgba(0, 0, 45,0.95);
$c_menu-border: rgba(255, 255, 255, 0.3);
$c_fab: #c30000;
$c_option: #ff7539;
$c_primary:#6851d0;
$c_secondary: #E8B3A8;
$c_accent: #F4D9D4;
$c_accent_light: #939BB1;
$fontInter: 'Inter',
sans-serif;