#headLogo { 
    position: fixed; 
    top: 10px; 
    left: 10px; 
    width: 120px; 
    height: auto; 
    border: none; 
}

#iconMenu { 
    position: fixed; 
    top: 10px; 
    right: 10px; 
    color: var(--colPrimary); 
    width: 30px; 
    cursor: pointer; 
}

#menuBox { position: fixed; 
    top: 40px; 
    right: 10px; 
    list-style: none; 
    overflow: hidden; 
    height: 0; 
    width: auto; 
    min-width: 200px; 
    padding: 0px; 
    transition: height 2s; 
    visibility: hidden; 
    background-color: var(--colWhite); 
    box-shadow: 0px 1px 2px rgba(0,0,0,.35); 
    z-index: 99;
}

.menuHidden { height: 0 !important; }

.menuVisible { 
    visibility: visible !important; 
    height: auto !important; 
    padding: 20px !important; 
}

.menuItem { 
    display: block; 
    padding: 15px 0; 
    border-top: #333 1px dotted; 
}

.menuLink { 
    font-family: 'OpenSans', Arial, Helvetica, sans-serif; 
    font-size: 16px; 
    letter-spacing: 2px; 
    color: var(--colPrimary) !important; 
}

.menuLink:hover { font-weight: bold; text-shadow: var(--colPrimary); }

a:link { color: inherit; text-decoration: inherit; }

a:hover { color: inherit; text-decoration: inherit; }

a:visited { color: inherit; text-decoration: inherit; }

a:active { color: inherit; text-decoration: inherit; }
