#mainoptions { 
    width: 100%; 
    max-width: 1024px; 
    height: auto; 
    padding: 5% calc( (100% - 1024px) / 2); 
    margin: 0; display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 10%; 
    background: fixed url(/images/slide_bg.png) center no-repeat; 
    background-size: cover; 
}

.optcontainer { 
    padding: 20px;
    background-color: rgba(255,255,255,.85);
    border-radius: 10px; 
}

.indexicons { width: auto; }

.optnicon { 
    /*border: var(--colPrimary) 7px solid; */
    /*border-radius: 50%; */
    width: 140px; 
    height: 140px; 
    margin: auto; 
    text-align: center;
    /*background: center no-repeat; */
    /*background-size: 60%; */
    /*box-shadow: 1px 1px 1px rgba(0,0,0,.8); */
}

.optntitle {
	color: var(--colPrimary);
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	font-size: 30px;
	margin: 10px 0 0;
	text-align: center;
}

.optntext {
	color: var(--colPrimary);
	font-family: 'OpenSans', Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 20px 0 0;
    text-align: center;
	letter-spacing: 1px;
	line-height: 130%;
}

.optnbutton { 
    font-family: 'OpenSans-Bold', Arial, Helvetica, sans-serif;
    background-color: var(--colHighlight);
    color: var(--colWhite);
    font-size: 20px;
    text-align: center;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold; 
    border: 1px solid transparent;
    box-shadow: 1px 1px 2px rgba(0,0,0,.75);
    cursor: pointer;
}

.optnbutton:hover { background-color: var(--colPrimary); }



#storesBox { 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-gap: 5%; 
    text-shadow: 1px 1px 1px rgba(0,0,0,.8); 
    list-style: none;
}

.listStoreItemsMain { 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 50px; 
    width: 100%; 
    height: auto; 
    margin: 50px 0; 
    padding: 0; 
    list-style: none; 
}

.listStoreItemLink {
    display: block; 
    padding: 10px; 
}
.listStoreItemLink:hover { box-shadow: 0px 0px 3px rgba(0,0,0,.3); }

.listStoreItemContainer { 
    box-sizing: border-box;
    display: block;
    position: relative;
    border: 0;
    margin: 0;
    padding: 250px 0 0;
    background: top center no-repeat;
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
}

.listStoreItemBox { 
    background-color: rgba(11, 11, 11, 0.8);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    color: var(--colWhite);
}

.listStoreItemTitle { 
    margin: 0;
    padding: 10px;
    text-align: center;
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: normal;
}

.listStoreItemText { 
    margin: 0; 
    padding: 20px; 
    text-align: left; 
    font-family: 'OpenSans', Arial, Helvetica, sans-serif; 
    font-size: 12px; 
    letter-spacing: .5px; 
    line-height: 140%; 
}



.listOfferItemsMain { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 50px; 
    width: 100%; 
    height: auto; 
    margin: 50px 0; 
    padding: 0; 
    list-style: none; 
}
.listOfferItemContainer { 
    box-sizing: border-box; 
    display: block; 
    position: relative; 
    border: 0; 
    margin: 0; 
    padding: 250px 0 0; 
    background: top center no-repeat #27bd8b; 
    background-size: cover; 
    border-radius: 10px; 
    border: solid 2px var(--colSecondary); 
    overflow: hidden; 
    box-shadow: 1px 1px 5px black;
}
.listOfferItemBox { 
    /*background-color: linear-gradient(70deg, var(--colBlack), var(--colWhite) );*/
    background-color: rgba(0,0,0,.65);
    position: absolute; 
    top: 0;
    right: 0; 
    bottom: 0; 
    left: 0; 
}
.listOfferItemTitle { 
    margin: 0; 
    padding: 20px 20px 0; 
    text-align: center; 
    font-family: 'OpenSans', Arial, Helvetica, sans-serif; 
    font-size: 20px; 
    letter-spacing: 2px; 
    font-weight: normal; 
    color: var(--colWhite);
}
.listOfferItemText { 
    margin: 0; 
    padding: 20px; 
    text-align: left; 
    font-family: 'OpenSans', Arial, Helvetica, sans-serif; 
    font-size: 14px; 
    letter-spacing: 1px; 
    line-height: 140%; 
    color: var(--colWhite);
}





.stdText { 
    color: var(--colPrimary);
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    margin: 20px 0 0;
    text-align: left;
    letter-spacing: 1px;
    line-height: 180%; 
    font-size: 16px;
}

.ltlText { 
    color: var(--colText);
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    margin: 20px 0 0;
    text-align: left;
    letter-spacing: 1px;
    line-height: 130%; 
    font-size: 13px;
}

#gamesListBox { 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 50px; 
    width: 100%; 
    height: auto; 
    margin: 50px 0; 
    padding: 0; 
    list-style: none; 
}


.gamesListItemImgBg { 
    display: block; 
    background-color: #555 
}

.gamesListItemBox { 
    display: block; 
    position: relative; 
    overflow: hidden; 
    width: 100%; 
    height: auto; 
}

.gamesListItemImg { 
    position: relative; 
    width: 100%; 
    height: 200px; 
    background: no-repeat center; 
    background-size: cover; 
}

.gamesListItemAvailable { 
    position: absolute; 
    top: 20px; 
    right: 20px; 
    color: var(--colPrimary); 
    width: 30px; 
    height: 30; 
    padding: 10px; 
    background-color: rgba(255,255,255,.75); 
    border-radius: 25px; 
}

.gamesListItemTextBox { padding: 10px 0; }




@media (max-width: 1044px) {

    #mainoptions { box-sizing: border-box; padding-left: 20px; padding-right: 20px; grid-gap: 50px; }

    .artlBox { padding: 50px 10px 0px; }

}

@media (max-width: 900px) { 

    .listStoreItemsMain { grid-template-columns: 1fr 1fr; grid-gap: 50px; margin-bottom: 10px; }

}

@media (max-width: 750px) { 

    .listOfferItemsMain { grid-template-columns: 1fr; grid-gap: 50px; margin-bottom: 10px; }

    .listGameItemsMain { grid-template-columns: 1fr; grid-gap: 50px; margin-bottom: 10px; }

    .listStoreItemsMain { grid-template-columns: 1fr; grid-gap: 50px; margin-bottom: 10px; }

    #gamesListBox { 
        grid-template-columns: 1fr; 
        grid-gap: 20px; 
    }

}

@media (max-width: 700px) {

    .optnicon { width: 60%; height: auto; }
    .optntitle { width: 100%; height: auto; font-size: 20px; }

    #mainoptions { grid-gap:20px; padding: 20px 10px; }
    .optcontainer { box-sizing: border-box; }

}

@media (max-width: 550px) {

    .optnicon { width: 49%; height: auto; float: left; }
    .optntitle { width: 49%; height: auto; float: right; font-size: 26px; }
    .indexicons { max-width: 90px; }

    #mainoptions { box-sizing: border-box; width: auto; grid-template-columns: 1fr; grid-gap:10px; padding: 20px 10px; }
    .optcontainer { box-sizing: border-box; }

}














