#mainoptions { 
    width: 100%; 
    max-width: 1024px; 
    height: auto; 
    padding: 100px calc( (100% - 1024px) / 2); 
    margin: 0; display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 10%; 
    background: fixed url(/images/slide_bg.jpg) center no-repeat; 
    background-size: cover; 
}
.optcontainer { 
    padding: 20px;
    background-color: rgba(255,255,255,.85);
    border-radius: 10px; 
}
.optnicon { 
    border: #C71D1A 10px solid; 
    border-radius: 50%; 
    width: 180px; 
    height: 180px; 
    margin: auto; 
    background: center no-repeat; 
    background-size: 60%; 
    box-shadow: 1px 1px 1px rgba(0,0,0,.8); 
}
.optntitle {
	color: #C71D1A;
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	font-size: 35px;
	margin: 20px 0 0;
	text-align: center;
	min-height: 80px;
}
.optntext {
	color: #C71D1A;
	font-family: 'OpenSans', Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin: 20px 0 0;
    text-align: center;
	letter-spacing: 1px;
	line-height: 130%;
}

.optnbutton { 
    font-family: 'OpenSans-Bold', Arial, Helvetica, sans-serif;
    background-color: #247BA0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold; 
    border: 1px solid #073782;
    box-shadow: 2px 2px 2px rgba(0,0,0,.8);
}


#storesBox { 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-gap: 50px; 
    text-shadow: 1px 1px 1px rgba(0,0,0,.8); 
    list-style: none;
}
