.login-form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.login-text {
    margin: 5% 0 10% 0;
    padding: 0;
    font-size: 3em;
    font-weight: 600;
}

.login-btn {
    margin-top: 10%;
    height: 56px;
    border: 1px solid var(--colPrimary);
    border-radius: 10px;
    color: var(--colWhite);
    background-color: var(--colPrimary);
    font-family: "Inter", sans-serif;
    outline: none;
    transition: all 0.3s ease;
    font-size: medium;
}

.login-btn:hover {
    cursor: pointer;
    border: 1px solid;
}


#loginForm { font-family: "Inter", sans-serif; }

#loginForm > input[type=text], input[type=password], input[type=email] {
    font-family: "Inter", sans-serif;
    height: 56px;
    width: 325px;
    margin: 10px 0px;
    padding: 0px 50px 0px 16px;
    border: 1px solid rgb(207, 214, 228);
    outline: none;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
    transition: all 0.3s ease 0s;
}


#loginForm > input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    border: 1px solid var(--colPrimary);
    box-shadow: 0px 0px 1px 3px rgba(165, 41, 37, 0.3);
}

.error-message {
    color: rgb(255, 23, 73);
    font-size: 12px;
}

.signup {
    display: flex;
    width: fit-content;
    margin: 10px auto 0 auto;
}

.showpw {
    width: 24px;
    height: 24px;
    background-image: url("../images/visibility.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 16px;
    top: 26px;
    cursor: pointer;
    border-radius: 360px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    transition: all 0.1s ease 0s;
}

.cerrarBtn{
    cursor: pointer;
    border: none;
    outline: none;
    height: fit-content;
    padding: 13px 21px;;
    border-radius: 6px;
    color: var(--colWhite);
    background-color: var(--colPrimary);
    font-family: "Inter", sans-serif;
    transition: all 0.3s ease;
    font-size: medium;
}


