.titulo
{
    font-family: 'OpenSans-Bold', Arial, Helvetica, sans-serif;
    color:  var(--colText);
}

.text
{
    font-family: 'OpenSans-Bold', Arial, Helvetica, sans-serif;
    color:  var(--colText);
    text-align: justify;
}

.text2
{
    font-family: 'OpenSans-Bold', Arial, Helvetica, sans-serif;
    color:  var(--colText);
    text-align: justify;
}