
.titulo
{
    font-family: 'OpenSans-Bold', Arial, Helvetica, sans-serif;
    padding-top: 100px;
    padding-left:200px;
    padding-right: 200px;
    color:  #B51D19;
}

.text
{
    font-family: 'OpenSans-Bold', Arial, Helvetica, sans-serif;
    color:  #B51D19;
    text-align: justify;
    padding-left:   200px;
    padding-right: 200px;
}

.text2
{
    font-family: 'OpenSans-Bold', Arial, Helvetica, sans-serif;
    color:  #B51D19;
    text-align: justify;
    padding-left:   250px;
    padding-right: 200px;
}