#storesBox { 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-gap: 5%; 
    text-shadow: 1px 1px 1px rgba(0,0,0,.8); 
    list-style: none;
}


.listStoreItemsMain { 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 50px; 
    width: 100%; 
    height: auto; 
    margin: 50px 0; 
    padding: 0; 
    list-style: none; 
}

.listStoreItemLink {
    display: block; 
    padding: 10px; 
}
.listStoreItemLink:hover { box-shadow: 0px 0px 3px rgba(0,0,0,.3); }

.listStoreItemContainer { 
    box-sizing: border-box;
    display: block;
    position: relative;
    border: 0;
    margin: 0;
    padding: 250px 0 0;
    background: top center no-repeat;
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
}

.listStoreItemBox { 
    background-color: rgba(11, 11, 11, 0.8);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    color: var(--colWhite);
}

.listStoreItemTitle { 
    margin: 0;
    padding: 10px;
    text-align: center;
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: normal;
}

.listStoreItemText { 
    margin: 0; 
    padding: 20px; 
    text-align: left; 
    font-family: 'OpenSans', Arial, Helvetica, sans-serif; 
    font-size: 12px; 
    letter-spacing: .5px; 
    line-height: 140%; 
}





#storeImage { 
    float: left; 
    width: 40%; 
    padding: 0 30px 30px 0; 
    background-color: var(--colWhite); 
}

.storeTitle { 
    margin: 0 0 20px; 
    padding: 14px 0px; 
    text-align: center; 
    font-family: 'OpenSans', Arial, Helvetica, sans-serif; 
    font-size: 24px; 
    letter-spacing: 2px; 
    font-weight: bold; 
    color: var(--colWhite); 
    background-color: var(--colSecondary); 
}

.storeSubtitle { 
    margin: 0 0 20px; 
    padding: 20px 0px; 
    text-align: right; 
    font-family: 'OpenSans', Arial, Helvetica, sans-serif; 
    font-size: 28px; 
    letter-spacing: 2px; 
    font-weight: bold; 
    border-bottom: 5px solid var(--colSecondary); 
}

.storeText { 
    margin: 0; 
    padding: 10px 0; 
    text-align: left; 
    font-family: 'OpenSans', Arial, Helvetica, sans-serif; 
    font-size: 18px; 
    letter-spacing: 1px; 
    line-height: 140%; 
}




.listOfferItemsMain { 
    display: block; 
    width: 100%; 
    height: auto; 
    margin: 50px 0; 
    padding: 0; 
    list-style: none; 
}

.listOfferItemContainer { 
    box-sizing: border-box; 
    display: block; 
    position: relative; 
    width: 100%; 
    height: auto; 
    min-height: 300px; 
    margin: 40px 0; 
    padding: 0; 
    background: center no-repeat; 
    background-size: cover; 
    overflow: hidden; 
}

.listOfferItemBox { 
    position: absolute; 
    top: 10px; 
    right: 10px; 
    width: 50%; 
    bottom: 10px; 
    padding: 20px; 
    background-color: rgba(0,0,0,.65); 
    box-sizing: border-box; 
}

.listOfferItemTitle { 
    margin: 0; 
    padding: 10px 0 10px 0; 
    text-align: left; 
    font-family: 'OpenSans', Arial, Helvetica, sans-serif; 
    font-size: 24px; 
    letter-spacing: 1.5px; 
    font-weight: bold;
    color: var(--colWhite);
}

.listOfferItemText { 
    margin: 0; 
    padding: 20px 0; 
    text-align: left; 
    font-family: 'OpenSans', Arial, Helvetica, sans-serif; 
    font-size: 16px; 
    letter-spacing: 1px; 
    line-height: 130%; 
    color: var(--colWhite);
}


@media (max-width: 900px) { 

    .listStoreItemsMain { grid-template-columns: 1fr 1fr; grid-gap: 50px; margin-bottom: 10px; }

}

@media (max-width: 750px) { 


    .listStoreItemsMain { grid-template-columns: 1fr; grid-gap: 50px; margin-bottom: 10px; }

}


@media (max-width: 700px) { 

    #storeImage { 
        float: left; 
        width: 100%; 
        margin: 20px 0;
        padding: 0 ; 
        background-color: var(--colWhite); 
    }
    
    .storeTitle { 
        margin: 0 0 20px; 
        padding: 14px 0px; 
        font-size: 24px; 
        letter-spacing: 2px; 
        font-weight: bold; 
    }
    
    .storeSubtitle { 
        margin: 0 0 20px; 
        padding: 20px 0px; 
        text-align: right; 
        font-size: 28px; 
        letter-spacing: 2px; 
        font-weight: bold; 
    }
    
    .storeText { 
        margin: 0; 
        padding: 10px 0; 
        text-align: left; 
        font-size: 18px; 
        letter-spacing: 1px; 
        line-height: 140%; 
    }
    
    .listOfferItemBox { 
        top: 0px; 
        right: 0px; 
        bottom: 0px; 
        left: 0px;
        padding: 10px; 
        width: auto; 
    }

}