:root {
    /* Palette URL: http://paletton.com/#uid=4010u0krAmIiVu6nLqRv5izEKdi */
    --colPrimary: #B51D19;
    --colSecondary: #10696D;
    --colSecondary: #333;
    --colTertiary: #148E1C;
    --colHighlight: #247BA0;
    --colHighlight: #da9e03;
    --colText: #333;
    --colWhite: #fff;
    --colBlack: #000;
    --colTxtFooter: #fff;
    --colLogued: #148E1C;
}



body { 
    width: 100%; 
    height: 100%; 
    padding: 0; 
    margin: 0; 
}

header { 
    box-sizing: border-box; 
    width: 100%; 
    height: auto; 
    padding: 10px; 
    margin: 0; 
    /*background-color:rgba(255,255,255,.8);*/
    /*background-color: rgba(50, 125, 155, 0.27);*/
    /*background-color: rgb(168,250,158);*/
    background: var(--colWhite);;
    box-shadow: 0px 1px 2px rgba(0,0,0,.35);
}

#headLogo { 
    width: 120px; 
    height: auto; 
    border:  none;
}

#iconMenu { color: var(--colPrimary); width: 30px; float: right; margin: 0 20px; cursor: pointer; }

#iconUser { color: var(--colPrimary); width: 30px; float: right; margin: 0 20px; cursor: pointer; }

#iconLanguage { color: var(--colPrimary); width: 30px; float: right; margin: 0 20px; cursor: pointer; }




main { 
    width: 100%; 
    height: auto; 
    min-height: 100vh; 
    padding: 0; 
    margin: 0; 
}

#menuBox { 
    background-color: var(--colPrimary); 
    list-style: none; 
    overflow: hidden;
    position: absolute;
    right: 10px; 
    height: 0;
    width: auto;
    min-width: 200px;
    margin: 10px 0 0; 
    padding: 0px; 
    transition: height 2s; 
    visibility: hidden;
    background-color: var(--colWhite);
    box-shadow: 0px 1px 2px rgba(0,0,0,.35);
    z-index: 99;
}

#langSelec { 
    list-style: none; 
    overflow: hidden; 
    position: absolute; 
    right: 120px; 
    width: auto; 
    min-width: 100px; 
    margin: 10px 0 0; 
    padding: 0px; 
    transition: height 2s; 
    background-color: var(--colWhite); 
    box-shadow: 0px 1px 2px rgba(0,0,0,.35); 
    z-index: 99; 
}

#menuUser { 
    list-style: none; 
    overflow: hidden; 
    position: absolute; 
    right: 60px; 
    width: auto; 
    min-width: 100px; 
    margin: 10px 0 0; 
    padding: 0px; 
    transition: height 2s; 
    background-color: var(--colWhite); 
    box-shadow: 0px 1px 2px rgba(0,0,0,.35); 
    z-index: 99; 
}

.menuHidden { height: 0 !important; }

.menuVisible { visibility: visible !important; height: auto !important; padding: 20px !important; }

.menuItem { display: block; padding: 15px 0; border-top: #333 1px dotted; }

.menuLink { 
    font-family: 'OpenSans', Arial, Helvetica, sans-serif; 
    font-size: 16px; 
    letter-spacing: 2px;
    color: var(--colPrimary) !important; 
}

.menuLink:hover { font-weight: bold; text-shadow: var(--colPrimary); }


#hiUserText { 
    font-family: 'OpenSans', Arial, Helvetica, sans-serif; 
    font-size: 14px; 
    letter-spacing: 2px;
    color: var(--colPrimary) !important; 
}
            
#cerrarBtnX {
    cursor: pointer;
    border: none;
    outline: none;
    height: fit-content;
    padding: 13px 21px;;
    border-radius: 6px;
    color: var(--colWhite);
    background-color: var(--colPrimary);
    font-family: "Inter", sans-serif;
    transition: all 0.3s ease;
    font-size: medium;
}


.artlBox { 
    box-sizing: border-box; 
    width: 100%; 
    height: auto; 
    min-height: 50vh; 
    padding: 50px calc( (100% - 1024px) / 2); 
    color: var(--colSecondary);
    font-family: 'OpenSans', Arial, Helvetica, sans-serif; 
    letter-spacing: 1px;
    line-height: 160%;
}

.artlTitle { 
    /*background: no-repeat left center;*/
    /*background-size: auto;*/
    /*background-size: 60px auto;*/
    /*padding: 10px 0 10px 90px;*/
    padding: 10px 0;
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    min-height: 60px; 
    font-size: 50px;
    text-align: left;
}

.artlTitleIcon { height: 70px; vertical-align: bottom; }


footer { 
    box-sizing: border-box; 
    width: 100%; 
    height: auto; 
    min-height: 20vh; 
    padding: 50px 20px 20px 20px; 
    margin: 0; 
    /*background-color: #fff; */
    /*background: linear-gradient(4deg, rgba(250, 251, 247, 0.49) 0%, rgba(217, 187, 95, 0.29) 100%);*/
    /*background: linear-gradient(7deg, #a3ec523b 0%, rgba(217, 95, 146, 0.75) 100%);*/
    /*background: linear-gradient(4deg, #a3ec523b 0%, rgba(217, 187, 95, 0.7) 100%);*/
    background: linear-gradient(-15deg, #ff0000a8 0%, rgba(255, 55, 55, 0.66) 40%,rgba(253, 28, 28, 0.59) 60%, #f70202 100%);
    box-shadow: 0px -2px 4px rgba(0,0,0,.2);
}

#footerData { 
    box-sizing: border-box; 
    width: 49%; 
    height: auto; 
    float: left;  
    margin: 0; 
    padding: 0; 
    font-family: 'Inter', Arial, Helvetica, sans-serif; 
    font-size: 14px; 
    letter-spacing: .4px;
    color: var(--colTxtFooter); 
}

#footerDataH2 { 
    font-size: 14px; 
    margin: 0 0 5px; 
    padding: 0; 
}

#footerDataH3 { 
    font-size: 14px; 
    margin: 0 0 5px; 
    padding: 0; 
}

#footerDataA { 
    font-size: 14px; 
    margin: 0 0 5px; 
    padding: 0; 
    font-weight: bold;
}

#footerDataUl { 
    display: block; 
    background: no-repeat url(/images/XTremGroup_logo.svg) left center; 
    background-size: auto; 
    background-size: 70px; 
    padding: 0 0 0 100px; 
    height: auto; 
}

#footerDataUl li { 
    padding: 0 0 5px 0; 
}


#footerImage {
    box-sizing: border-box; 
    float: right; 
    width: 49%; 
    max-width: 220px;
    height: auto; 
    margin: 0; 
    padding: 0; 
}

.clearit { 
    clear: both; 
}

a:link { color: inherit; text-decoration: inherit; }
a:hover { color: inherit; text-decoration: inherit; }
a:visited { color: inherit; text-decoration: inherit; }
a:active { color: inherit; text-decoration: inherit; }




@media (max-width: 1044px) {

    .artlBox { padding-left: 10px; padding-right: 10px; }
    
    .artlTitle { min-height: none; font-size: 30px; }

    .artlTitleIcon { height: 55px; }

}



@media (max-width: 550px) {

    .artlTitle { 

        min-height: none; 
        font-size: 30px;
        text-align: center;
    }

    .artlTitleIcon { height: 40px; vertical-align: bottom; }

    
    #iconMenu { margin: 0 10px 0 20px; }

    #iconUser { margin: 0 0 0 20px; }
    
    #iconLanguage { margin: 0 0 0 20px; }

    #footerData { 
        float: none;  
        width: min-content;
        margin: 0 auto; 
        font-size: 14px; 
        white-space: nowrap;
    }

    #footerImage {
        display: block;
        float: none; 
        width: 100%; 
        max-width: 300px;
        margin: 0 auto; 
    }
    
}



  



@media (max-width: 750px) { 

    .artlTitle { font-size: 30px; text-align: center; page-break-after: 10px; }

    .articlesicons { height: 40px; vertical-align: bottom; }

}

