:root {
    /* Palette URL: http://paletton.com/#uid=4010u0krAmIiVu6nLqRv5izEKdi */
    --colPrimary: #B51D19;
    --colSecondary: #10696D;
    --colTertiary: #148E1C;
    --colHighlight: #247BA0;
    --colText: #333;
    --colWhite: #fff;
    --colBlack: #000;
}



body { 
    width: 100%; 
    height: 100%; 
    padding: 0; 
    margin: 0; 
}

header { 
    box-sizing: border-box; 
    width: 100%; 
    height: auto; 
    padding: 10px; 
    margin: 0; 
    /*background-color:rgba(255,255,255,.8);*/
    /*background-color: rgba(50, 125, 155, 0.27);*/
    /*background-color: rgb(168,250,158);*/
    background: var(--colWhite);;
    box-shadow: 0px 1px 2px rgba(0,0,0,.35);
}

#headLogo { 
    width: 120px; 
    height: auto; 
    border:  none;
}

#iconMenu { color: var(--colPrimary); width: 30px; float: right; margin: 0 20px; cursor: pointer; }

#iconUser { color: var(--colPrimary); width: 30px; float: right; margin: 0 20px; cursor: pointer; }

#iconLanguage { color: var(--colPrimary); width: 30px; float: right; margin: 0 20px; cursor: pointer; }




main { 
    width: 100%; 
    height: auto; 
    min-height: 100vh; 
    padding: 0; 
    margin: 0; 
}


#menuBox { 
    background-color: var(--colPrimary); 
    list-style: none; 
    overflow: hidden;
    position: absolute;
    right: 10px; 
    height: 0;
    width: auto;
    min-width: 200px;
    margin: 10px 0 0; 
    padding: 0px; 
    transition: height 2s; 
    visibility: hidden;
    background-color: var(--colWhite);
    box-shadow: 0px 1px 2px rgba(0,0,0,.35);
}

.menuHidden { height: 0 !important; }

.menuVisible { visibility: visible !important; height: auto !important; padding: 20px !important; }

.menuItem { display: block; padding: 15px 0; border-top: #333 1px dotted; }

.menuLink { 
    font-family: 'OpenSans', Arial, Helvetica, sans-serif; 
    font-size: 16px; 
    letter-spacing: 2px;
    color: var(--colPrimary) !important; 
}

.menuLink:hover { font-weight: bold; text-shadow: var(--colPrimary); }




.artlBox { 
    box-sizing: border-box; 
    width: 100%; 
    height: auto; 
    min-height: 50vh; 
    padding: 50px calc( (100% - 1024px) / 2); 
    color: var(--colSecondary);
}

.artlTitle { 
    /*background: no-repeat left center;*/
    /*background-size: auto;*/
    /*background-size: 60px auto;*/
    /*padding: 10px 0 10px 90px;*/
    padding: 10px 0;
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    min-height: 60px; 
    font-size: 50px;
}





footer { 
    box-sizing: border-box; 
    width: 100%; 
    height: auto; 
    min-height: 20vh; 
    padding: 50px 20px 20px 20px; 
    margin: 0; 
    /*background-color: #fff; */
    background: linear-gradient(4deg, rgba(250, 251, 247, 0.49) 0%, rgba(217, 187, 95, 0.29) 100%);
    box-shadow: 0px -2px 4px rgba(0,0,0,.2);
}

#footerData { 
    box-sizing: border-box; 
    width: 49%; 
    height: auto; 
    float: left;  
    margin: 0; 
    padding: 0; 
    font-family: 'Inter', Arial, Helvetica, sans-serif; 
    font-size: 12px; 
    color: var(--colPrimary); 
}

#footerDataH2 { 
    font-size: 12px; 
    margin: 0 0 5px; 
    padding: 0; 
}

#footerDataH3 { 
    font-size: 12px; 
    margin: 0 0 5px; 
    padding: 0; 
}

#footerDataA { 
    font-size: 12px; 
    margin: 0 0 5px; 
    padding: 0; 
    font-weight: bold;
}

#footerDataUl { 
    display: block; 
    background: no-repeat url(/images/XTremGroup_logo.svg) left center; 
    background-size: auto; 
    background-size: 70px; 
    padding: 0 0 0 100px; 
    height: 60px; 
}

#footerDataUl li { 
    padding: 0 0 5px 0; 
}


#footerImage {
    box-sizing: border-box; 
    float: right; 
    width: 49%; 
    max-width: 220px;
    height: auto; 
    margin: 0; 
    padding: 0; 
}

.clearit { 
    clear: both; 
}

a:link { color: inherit; text-decoration: inherit; }
a:hover { color: inherit; text-decoration: inherit; }
a:visited { color: inherit; text-decoration: inherit; }
a:active { color: inherit; text-decoration: inherit; }
