@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  color: white; }

select {
  background-color: #6851d0;
  border: 1px solid white;
  border-radius: 5px;
  padding: 8px 25px;
  outline: none;
  color: white;
  transition: all 0.25s ease;
  font-family: "Inter", sans-serif; }
  select:hover {
    cursor: pointer; }

input[type=number] {
  border: 1px solid white;
  border-radius: 5px;
  padding: 8px 15px;
  outline: none;
  color: white;
  transition: all 0.25s ease;
  background-color: #6851d0;
  font-family: "Inter", sans-serif; }

::placeholder {
  color: white;
  font-family: "Inter", sans-serif; }

.slider {
  -webkit-appearance: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  width: 20%;
  border: 1px solid white;
  background-color: #6851d0;
  border-radius: 5px; }
  .slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 16px;
    background-color: #6851d0;
    margin-top: -1px; }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 50%; }

.language-selection {
  display: flex;
  flex-direction: column; }

.menu-wrapper {
  position: fixed;
  z-index: 4000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center; }

.menu {
  background-color: #6851d0;
  width: 90vh;
  height: 50vh;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  overflow: hidden;
  z-index: 3000;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }
  .menu-nav {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
    .menu-nav__opt {
      flex: 0 0 25%;
      text-align: center;
      cursor: pointer;
      padding-top: 15px;
      padding-bottom: 15px;
      font-weight: 500;
      transition: all 0.3s ease; }
      .menu-nav__opt:hover {
        cursor: pointer;
        background-color: #939BB1; }
    .menu-nav__icon {
      margin: auto;
      width: 30px;
      height: 30px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat; }
      .menu-nav__icon--params {
        background-image: url("../assets/parameters.png"); }
      .menu-nav__icon--controls {
        background-image: url("../assets/controls.png"); }
      .menu-nav__icon--tut {
        background-image: url("../assets/tutorial.png"); }
      .menu-nav__icon--lang {
        background-image: url("../assets/language.png"); }
  .menu__tab {
    display: none; }
    .menu__tab.show {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
    .menu__tab.hidden {
      display: none; }
  .menu-body {
    padding: 16px;
    flex: 1; }
  .menu-start {
    text-align: center;
    font-weight: 600;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px; }
    .menu-start-text {
      border-radius: 8px;
      transition: all 0.4s ease;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: white;
      color: black; }
      .menu-start-text:hover {
        cursor: pointer;
        background-color: #F4D9D4; }

.container {
  display: grid;
  grid-template-areas: "game parameters" "info parameters";
  grid-template-rows: 8.5fr 1.5fr;
  grid-template-columns: 9fr 1fr;
  height: 100vh;
  width: 100%; }

.game-container {
  grid-area: game;
  background-color: palegreen;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  cursor: none; }
  .game-container__object {
    width: 50px;
    height: 50px;
    background-image: url("../assets/object.png");
    background-size: cover;
    position: absolute; }
  .game-container__basket {
    width: 11vh;
    height: 10vh;
    background-image: url("../assets/basket.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    display: none; }

.game-info {
  display: flex;
  grid-area: info;
  background-color: rgba(0, 0, 45, 0.95);
  font-weight: 600;
  font-size: 20px;
  z-index: 1000;
  text-align: center; }
  .game-info__timer {
    flex: 1; }
    .game-info__timer #timeElapsed {
      font-weight: 700;
      font-size: 26px;
      text-align: center; }
  .game-info__points {
    flex: 1; }
    .game-info__points #points {
      font-weight: 700;
      font-size: 26px;
      text-align: center; }
  .game-info__lives {
    flex: 1; }
    .game-info__lives #lives {
      font-weight: 700;
      font-size: 26px;
      text-align: center; }
  .game-info__event {
    flex: 1; }
    .game-info__event #eventTimeLeft {
      font-weight: 700;
      font-size: 26px;
      text-align: center; }

.game-parameters {
  grid-area: parameters;
  background-color: rgba(0, 0, 45, 0.95);
  z-index: 3000; }
  .game-parameters .fab-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    cursor: pointer; }
    .game-parameters .fab-container:hover {
      opacity: 0.8; }
  .game-parameters .fab-icon-holder {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #939BB1;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); }
    .game-parameters .fab-icon-holder:hover {
      opacity: 0.8; }
    .game-parameters .fab-icon-holder i {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      font-size: 25px;
      color: #ffffff; }
  .game-parameters .fab {
    width: 60px;
    height: 60px;
    background-color: #6851d0;
    background-image: url("../assets/menu-light.png");
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat; }
    .game-parameters .fab-options {
      list-style-type: none;
      margin: 0;
      position: absolute;
      bottom: 70px;
      right: 0;
      transition: all 0.35s ease;
      transform: scale(0);
      transform-origin: 85% bottom; }
      .game-parameters .fab-options li {
        display: flex;
        justify-content: flex-end;
        padding: 5px; }
      .game-parameters .fab-options #github {
        background-image: url("../assets/github.png");
        background-position: center;
        background-size: 80%;
        background-repeat: no-repeat; }
      .game-parameters .fab-options #code {
        background-image: url("../assets/code.png");
        background-position: center;
        background-size: 60%;
        background-repeat: no-repeat; }
      .game-parameters .fab-options #settings {
        background-image: url("../assets/settings.png");
        background-position: center;
        background-size: 75%;
        background-repeat: no-repeat; }
    .game-parameters .fab-label {
      padding: 3px 5px;
      align-self: center;
      white-space: nowrap;
      border-radius: 3px;
      font-size: 14px;
      font-weight: 700;
      background: #666666;
      color: #ffffff;
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
      margin-right: 10px; }
  .game-parameters .fab:hover + .fab-options,
  .game-parameters .fab-options:hover {
    opacity: 1;
    transform: scale(1); }

a {
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */
